@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body {
    background: #F4F4F4;
}
header {
    width: 100%;
    padding: 20px 100px 20px 100px;
    align-items: center;
}
header h1 {
    font-size: 30px;
    color: #434343;
}
nav {
    width: 100%;
    padding: 0 100px 10px 100px;
    align-items: center;
}
nav ul {
    display: flex;
}
nav ul li {
    list-style: none;
    margin-right: 20px;
}
nav ul li a {
    color: #434343;
    font-size: 18px;
    text-decoration: none;
}
nav ul li a:hover {
    color: cornflowerblue;
}
section .content {
    display: flex;
    width: 100%;
    padding: 0 100px 10px 100px;
}
section .content .catalogo {
    max-width: 250px;
    background-color: #FFF;
    padding: 20px;
    margin-right: 20px;
    border-radius: 10px;
}
section .content .catalogo img {
    width: 210px;
}
section .content .catalogo .detalles p {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
}
section .content .catalogo .detalles h3 {
    font-size: 18px;
    font-weight: 500;
    color: #434343;
}
section .content .catalogo .detalles span {
    font-size: 20px;
    font-weight: 700;
    color: chocolate;
}